In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
order_prior = pd.read_csv("../data/order_products__prior.csv")
order_train = pd.read_csv("../data/order_products__train.csv")
orders = pd.read_csv("../data/orders.csv")

In [5]:
order_products_combined = pd.concat([order_prior, order_train], ignore_index=True)

In [6]:
order_products_combined.to_csv(r'../data/order_products_combined.csv',index=False)

In [7]:
aisles = pd.read_csv("../data/aisles.csv")
departments = pd.read_csv("../data/departments.csv")
products = pd.read_csv("../data/products.csv")

In [11]:
order_products_combined.sample(5)

          order_id  product_id  add_to_cart_order  reordered
16471683   1737589       45528                  6          0
5327404     562306       21137                  4          1
23885571   2519043        1194                  2          1
11390990   1202566       37917                  5          1
12391389   1307944       27845                  2          1

In [13]:
products.head(5)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [14]:
aisles.head(5)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [15]:
products_aisle = products.merge(aisles, left_on='aisle_id', right_on='aisle_id')

In [18]:
products_aisle_dept = products_aisle.merge(departments, left_on='department_id', right_on='department_id')

In [19]:
products_aisle_dept.head()

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,61,19,cookies cakes,snacks
2,102,Danish Butter Cookies,61,19,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,61,19,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,61,19,cookies cakes,snacks

In [22]:
products_aisle_dept = products_aisle_dept.drop(['aisle_id', 'department_id'], axis=1)

In [23]:
products_aisle_dept.head()

,product_id,product_name,aisle,department
0,1,Chocolate Sandwich Cookies,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,cookies cakes,snacks
2,102,Danish Butter Cookies,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,cookies cakes,snacks

In [24]:
order_products_combined_aisledept = order_products_combined.merge(products_aisle_dept, left_on='product_id', right_on='product_id')

In [25]:
order_products_combined_aisledept.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle,department
0,2,33120,1,1,Organic Egg Whites,eggs,dairy eggs
1,26,33120,5,0,Organic Egg Whites,eggs,dairy eggs
2,120,33120,13,0,Organic Egg Whites,eggs,dairy eggs
3,327,33120,5,1,Organic Egg Whites,eggs,dairy eggs
4,390,33120,28,1,Organic Egg Whites,eggs,dairy eggs

In [26]:
order_products_combined_aisledept.to_csv(r'../data/order_products_combined_aisledept.csv',index=False)

In [1]:
import gc

In [2]:
gc.collect()

77