In [1]:
import numpy as np 
import pandas as pd 
from itertools import combinations, groupby
from collections import Counter

In [2]:
orders_products = pd.read_csv('../data/order_products_combined_aisledept.csv')

In [3]:
orders_products.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle,department
0,2,33120,1,1,Organic Egg Whites,eggs,dairy eggs
1,26,33120,5,0,Organic Egg Whites,eggs,dairy eggs
2,120,33120,13,0,Organic Egg Whites,eggs,dairy eggs
3,327,33120,5,1,Organic Egg Whites,eggs,dairy eggs
4,390,33120,28,1,Organic Egg Whites,eggs,dairy eggs

In [19]:
df = orders_products[['order_id','product_name']]

In [20]:
df.head()

   order_id        product_name
0         2  Organic Egg Whites
1        26  Organic Egg Whites
2       120  Organic Egg Whites
3       327  Organic Egg Whites
4       390  Organic Egg Whites

In [24]:
df.head().values

array([[2, 'Organic Egg Whites'],
       [26, 'Organic Egg Whites'],
       [120, 'Organic Egg Whites'],
       [327, 'Organic Egg Whites'],
       [390, 'Organic Egg Whites']], dtype=object)

In [25]:
orders_array = df.values

In [27]:
def get_item_paris(order_item):
    for order_id, order_object in groupby (orders_array, lambda x: x[0]):
        item_list = [item[1] for item in order_object]
        
        for item_pair in combinations(item_list, 2):
            yield item_pair
            
Counter(get_item_paris(orders_array))

Counter({('Blueberry Blast Fruit and Chia Seed Bar',
          'Strawberry Blast Fruit & Chia Seed Bar'): 1,
         ('Miss Treated Conditioner',
          'Whenever Green Tea & Lime Scented Conditioner'): 1})

In [1]:
import gc

In [2]:
gc.collect()

77

In [3]:
pkill -f ipykernel

SyntaxError: invalid syntax (<ipython-input-3-29723168bc5b>, line 1)